{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div style="position: relative; text-align: center;">
        <img src="{% static 'images/women shopping.jpg' %}" alt="wallpaper" class="img-fluid" style="height: 600px; width: 100%; object-fit: cover;">
        <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: white; font-size: 50px;">
            <p>Our Product Collections</p>
        </div>
    </div>

    <div class="container mt-4">
        <div class="row">
            {% for product in products %}
            <div class="col-12 col-md-3 mb-4">
                <div class="card">
                    <a href="#">
                        <img src="{{ product.image.url }}" class="card-img-top" alt="product image" style="height: 300px; width: 100%; object-fit: cover;">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">RS {{ product.price }}</p>

                        <form action="{% url 'add_to_cart' product.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary">Add to Cart</button> <!-- Added btn-primary class -->
                        </form>

                        <a href="{% url 'add_product' %}" class="btn btn-success btn-lg w-100 mt-2">Add Product</a>
                        <a href="{% url 'edit_product' product.id %}" class="btn btn-warning btn-lg w-100 mt-2">Edit Product</a>
                        <a href="{% url 'delete_product' product.id %}" class="btn btn-danger btn-lg w-100 mt-2">Delete Product</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}